
.chat {
    height: calc(100% - 75px);
    width: 100%;
    padding: 20px;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    overflow: scroll;
  }
  
  .chat-list-item {
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .msg {
    padding: 3px 10px;
    border-radius: 7px;
    font-size: 1.5rem;
  }
  .left {
    max-width: 60%;
    align-self: flex-start;
    background-color: #555556;
  }
  
  .right {
    background-color: rgb(50, 120, 50);
    max-width: 60%;
    align-self: flex-end;
  }