.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    color:var(--text-primary);
}

.homeWrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 50px;
}

.homeHeader{
    font-size: 2.5rem;
    color:rgb(65, 228, 141);
}

.btnContainer{
    display: flex;
    gap: 20px;
}

.homeBtn{
    width: 100px;
    aspect-ratio: 1.5/1;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    border-radius: 7px;
    font-size: 1.5rem;
    padding: 5px 7px;
}

.homeBtn:hover{
    color:var(--bg-primary);
    background-color: var(--text-primary);
    transform: scale(1.1);
    transition: 0.3s ease-out;
}